// Variables
$round-size: 0.25rem;

// Mixins
@mixin marginX($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin paddingX($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin paddingY($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin container {
  @include marginX(auto);
  @include paddingX(1rem);
  max-width: 900px;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin transition-colors {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@mixin size($size) {
  width: $size;
  height: $size;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Outfit";
  background-color: #e1e7ef;
  color: #344256;
}

.header {
  @include container();
  @include paddingY(4rem);

  text-align: center;

  &__title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.5rem;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35%;

  &__img {
    width: 100%;
    height: auto;
    border-radius: $round-size;
    flex-shrink: 0;
  }
}

.main {
  @include container();
  display: flex;
  gap: 1rem;

  & > * {
    background-color: white;
    padding: 1rem;
    border-radius: $round-size;
    box-shadow: 2px 2px 4px 0px hsla(215, 25%, 27%, 0.2);
  }

  &__content {
    width: 65%;
  }

  &__section {
    margin-top: 2rem;
  }
}

.article {
  p:not(:last-child) {
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }
}

.sitelist {
  @include flex-col();
  padding: 0;
  list-style: none;
  gap: 0.5rem;

  &__item {
    @include transition-colors();
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-radius: $round-size;

    &:visited {
      color: inherit;
    }

    &:hover,
    &:focus {
      color: #075985;
      background-color: #e0f2fe;
    }

    &:focus {
      outline: 2px solid #075985;
    }

    i,
    svg {
      @include size(22px);
    }
  }
}

.gridlist {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0;
  list-style: none;
  gap: 1rem;

  &__item {
    @include flex-col();
    @include transition-colors();
    border-radius: $round-size;
    border: 1px solid #e2e8f0;
    padding: 0.5rem 0.75rem;
    outline: none;

    &:hover,
    &:focus {
      border-color: #94a3b8;
      box-shadow: 2px 2px 4px 0px hsla(215, 25%, 27%, 0.2);
    }
  }

  &__item--more:hover {
    border-color: #e2e8f0;
    box-shadow: none;
  }

  &__name {
    margin-bottom: 0.25rem;
  }
}

.footer {
  text-align: center;
  padding: 2rem 0;
}

@media (max-width: 740px) {
  .main {
    flex-direction: column;

    &__content {
      width: unset;
    }
  }

  .sidebar {
    width: unset;
    flex-direction: row;

    &__img {
      width: 50%;
    }

    &__article {
      display: grid;
      place-content: center;
      flex-grow: 1;
      text-align: center;
    }
  }

  .sitelist__item {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .sidebar {
    flex-direction: column;

    &__img {
      margin: 0 auto;
      width: 100%;
    }
  }

  .sitelist {
    flex-direction: row;

    .sitelist__item span {
      display: none;
    }

    i,
    svg {
      @include size(40px);
    }
  }

  .applist {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
